.MaterialTextBox{
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    margin-bottom: 0;
    transition: all .5s ease;
    
    label{
        position: absolute;
        bottom:10%;
        margin: 0 0 0 .8rem;
        font-size: 1rem;
        pointer-events: none;
    }

    @keyframes animUp {
        from{
           bottom:10%;
           font-size: 1rem;
        }
        to{
           bottom:67%;
           font-size: .8rem;
        }
    }
    @keyframes animDown {
        from{
           bottom:67%;
           font-size: .8rem;
        }
        to{
           bottom:10%;
           font-size: 1rem;
        }
    }

    input{
        width: 250px;
        padding: 1.8rem 1rem .5rem .7rem;
        display: block;
        margin: 0;
        font-size: 1.5rem;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #737373;
        transition: all .5s ease;

        &:focus{
           border-radius: .5rem;
           outline: none;
        //    background-color: ;
        //    border: 2px solid  rgb(97, 174, 184);
        }


    }

}

.MaterialTextBoxSection{
    small{
        display: block;
        color:Red;
        font-size: 1rem;
        margin: .5rem .5rem;
    }
}